<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Checkout</h1>
    <div class="main-container">
        <div class="items-container">
            <article>
                <div class="left-side">
                    <h2 class="item-name">Colorfull T-shirt</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">39.99</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Denim Jacket</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">99.99</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Formal Shirt</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">59.99</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Flip Flops</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">9.99</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Socks 5-pack</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">4.99</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
        </div>
        <div class="summary">
            <div class="summary-left">
                <h2>Final price:</h2>
                <p id="final-price">$0</p>
            </div>
            <div class="summary-right">
                <button id="reset">Reset</button>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="js/index.js"></script>
</body>
</html>