<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Basket</h1>
    <div class="main-container">
        <div class="items-container">
            <article>
                <div class="left-side">
                    <h2 class="item-name">Lorem ipsum dolor sit</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">10</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Lorem ipsum dolor sit</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">10</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Lorem ipsum dolor sit</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">10</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Lorem ipsum dolor sit</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">10</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
            <article>
                <div class="left-side">
                    <h2 class="item-name">Lorem ipsum dolor sit</h2>
                    <div class="price">
                        <p>$</p>
                        <h3 class="item-price">10</h3>
                    </div>
                </div>
                <div class="right-side">
                    <button class="item-btn-less">-</button>
                    <h4 class="item-counter">0</h4>
                    <button class="item-btn-more">+</button>
                </div>
            </article>
        </div>
        <div class="summary">
            <div class="summary-left">
                <h2>Price:</h2>
                <p>$0</p>
            </div>
            <div class="summary-right">
                <button>Submit</button>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="js/index.js"></script>
</body>
</html>